/* Colour palette: https://colorhunt.co/palette/69667 */

/* ############################# Tags ############################# */

body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}
/* 16px = 100% - 1em */
h1 {
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #005691;
}

h2 {
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #005691;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #004a7c;
}

a {
    color: #e8f1f5;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

p {
    line-height: 2;
}

hr{
    border: dotted #004a7c 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto 100px auto;
}


.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;

}

.intro {
    width: 30%;
    margin: auto;
}

.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}

.footer-icon {
    width: 2%;
}

.copyright {
    color: #e8f1f5;
    font-size: 0.75rem;
    padding: 20px auto;
}

/* ############################# Containers ############################# */

.top-container {
    background-color: #fafafa;
    padding-top: 100px;
    position: relative;
 }

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    background-color: #005691;
    padding: 50px 0 20px 0;
    }


/* ############################# Images ############################# */
.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.logo {
    position: fixed;
    left:50px;
    top: 20px;
    width: 7%;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.skill-pic-uno {
    width: 25%;
    float: left;
    margin-right: 30px;
    border-radius: 50%;
}

.skill-pic-dos {
    width: 25%;
    float: right;
    margin-left: 30px;
    border-radius: 50%;
}

/* ############################# Button ############################# */

.btn {
   background: #005691;
   background-image: -webkit-linear-gradient(top, #005691, #004A7C);
   background-image: -moz-linear-gradient(top, #005691, #004A7C);
   background-image: -ms-linear-gradient(top, #005691, #004A7C);
   background-image: -o-linear-gradient(top, #005691, #004A7C);
   background-image: -webkit-gradient(to bottom, #005691, #004A7C);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #E8F1F5;
   font-family: 'Merriweather', serif;
   font-size: 19px;
   font-weight: 100;
   padding: 13px;
   text-shadow: 1px 1px 20px #0059A0;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #E8F1F5 1px;
   background: #004A7C;
   background-image: -webkit-linear-gradient(top, #004A7C, #005691);
   background-image: -moz-linear-gradient(top, #004A7C, #005691);
   background-image: -ms-linear-gradient(top, #004A7C, #005691);
   background-image: -o-linear-gradient(top, #004A7C, #005691);
   background-image: -webkit-gradient(to bottom, #004A7C, #005691);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}